
/*this is based off of Alpaca styles*/
h4 {
	font-size: 1em;
	font-weight: bold;
	color: gray;
	margin: 0px;
}

p {
	margin: 0px 0px 20px 0px;
	text-align: justify;
}

body {
  
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: left 0px top 0px;
  font-family: Verdana, "Bitstream Vera Sans", "Dejavu Sans", sans-serif;
  background-color: #73715A;
  margin: 0;
  padding: 0;
  text-align: center;

}

#content_container{
	/*this is actually the sidebar color*/
	width: 80%;
	background-color: #F0EBCD;
  	
    margin: 0 auto;
  	padding: 0;
  	text-align: left;
 }

 #header{
  background-color: #A0B478;
	text-align: left;
	margin: 0;
	padding: 3px 0px 0px 5px;
	overflow: hidden;
	font-size: 3em;
	font-family: arial, sans-serif;
	/*"Lucida Calligraphy",*/
  
}

#sidebar{
	float: left;
	width: 12em;
	font-weight: bold;
}

#sidebar ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

#sidebar a {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	display: block;
	padding: 3px 3px 5px 30px;
	background-color: #DACA8C;
	color: #73715A;
	border-bottom: 1px #F0EBCD solid;
	text-decoration: none;
}

#sidebar a:hover {
	background-color: #F0EBCD;
	color: #73715A;
	border-right: 3px #73715A solid;
	border-bottom: 3px #73715A solid;
	padding-bottom: 3px;
}

#mainContent{
	background-color: #FFFFFF;
	margin-left: 12em;

}

#footer p {
	margin: 0;
	padding: 10px 0;
	background-color: #A0B478;
	text-align: center;
	font-size: .8em;
}
.clearfloat {
	clear: both;
	height: 0;
	font-size: 1px;
}
.photo{
	width: 150px;
	font-size: .8em;
	font-style: italic;
	line-height: 1em;
	font-weight: normal;
}

.floatRight{
	float: right;
	margin-left: .8em;
}

.floatLeft{
	float: left;
	margin-right: .8em;
}

/*this is from phpMM styles*/
label {

  display: block;
  float: left;
  width: 160px;
  padding: 0 10px;
  margin: 3px 0 0;
  text-align: right;
}

form {
  margin: 0;
  padding: 0;
 
}

fieldset {
  border-color: #000;
  border-width: 1px;
  border-style: solid;
  padding: 10px;
  margin: 10px;
}

fieldset br {
  clear: left;
}

form input, form textarea {
  margin: 5px 0 0px 0px;
}

.center {
  text-align: center;
  margin: 0px;
}

#leftPanel{
	float: left;
	width: 370px;
	font-weight: bold;
}

#rightPanel{
	background-color: #EBEBEB;
	margin-left: 370px;
	padding: 10px 20px 0 1em;
}

div.user_profile {
  background-color: #CCC;
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 15px;
  padding: 10px 20px;
 
  -moz-border-radius: 10px;
}

div.user_profile h1 {
  border-bottom: 1px dotted black;
  font-size: 18px;
}

div.user_profile img.user_pic {
  border: solid;
  border-color: #ddd #aaa #aaa #ddd;
  border-width: 1px 2px 2px 1px;
  float: right;
  margin: 0 0 10px 25px;
  padding: 8px;
  width: 135px;
}

div.user_profile p {
  font-size: 14px;
  color: #333;
}

div.user_profile p.contact_info {
  clear: both;
}

div.user_profile ul {
  font-size: 14px;
}

.comment {
	margin: 5px;
}

.transparent {
    background-color: transparent;
    border: none;
  }

img.error {
  float: right;
  padding-left: 20px;
}

.error_message {
  font-style: italic;
}


#messages div {
  
  border: 2px solid;
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 0.7em;
  font-style: italic;
  min-height: 16px;
  padding: 5px 28px;
  position: relative;
  text-align: center;
}

#messages p {
  margin: 0;
}

#messages div.success {
  background: #E6EFC2;
  border-color: #C6D880;
  color: #264409;
}

#messages div.failure {
  background: #FBE3E4;
  border-color: #FBC2C4;
  color: #8A1F11;
}

#main {
  padding: 10px;
}
#form {
  padding: 10px;
}
div#menu {
  top: -19px;
  height: 20px;
  right: 5px;
  position: relative;
  text-align: right;
}

#menu ul {
  display: inline;
}

#menu ul li {
  display: inline;
  list-style: none;
  background: #F0EBCD;
  padding: 0 5px;
  border-right: 1px #73715A solid;
  border-top: 1px #73715A solid;
  border-left: 1px #73715A solid;
}

#menu a, #menu a:visited {
  color: #73715A;
  text-decoration: none;
}

#menu a:hover {
  text-decoration: underline;
}