
#aside{
	background-color: #FFFFFF;
	margin-left: 350px;
	padding: 10px 20px 0 1em;
}

#aside td{
	height: 10px;
}

#main{
	float: left;
	width: 350px;
	font-weight: bold;
}

.b0 {
	background-color: #EBEBEB;
}

.w0 {
	
}

.bred {
	background-color: #8B2323;
}

.wred {
	background-color: #DB2929;
}

.bpink {
	background-color: #856363;
}

.wpink {
	background-color: #CD9B9B;
}

.bgreen {
	background-color: #4A7023;
}

.wgreen {
	background-color: #7F9A65;
}

.highlight {
	background-color: #FFCC00;
}

td {
    visibility: visible;
    width: 40px;
    height: 40px;
    border: 1px solid black;
}

table {
	border-collapse: collapse;
}

#chessboard img{
  width: 35px;
}